@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 0 0% 6%;
    --background-light: 0 0% 10%;
    --foreground: 0 0% 90%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 6%;
    --secondary: 280 100% 50%;
    --secondary-foreground: 0 0% 6%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 75%;
    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 12%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
  
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-roboto-flex), system-ui, sans-serif;
  }
}

@layer components {
  .grid {
    @apply gap-[25px];
  }
  
  .container {
    @apply mx-auto px-4;
    max-width: 1148px;
  }
  
  .pb-section {
    padding-bottom: 250px;
  }
  
  .py-section {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}